@model List<CrumbCRM.Contact>
@{
    ViewBag.Title = "Contacts"; 
}

<h1>Contacts</h1>
<div class="width-wide left">
    @{
        if (ViewBag.Message != null)
        {
        <p class="msg msg-success">
            @ViewBag.message
            <a href="javascript:;" class="msg-close right">close</a>
        </p>
        }
    }
    <div class="stream">
        <div class="stream-head">
            <form>
                <input type="checkbox" />
            </form>
            <a href="javascript:;" data-action="/contact/delete/" class="btn btn-check-delete nodisplay btn-secondary"><i class="icon icon-small icon-light icon-remove"></i>delete selected</a>

            <a href="@Url.Action("Add", "Contacts")" class="btn btn-primary"><i class="icon-small icon-add"></i>add person</a>
            <a href="@Url.Action("AddCompany", "Contacts")" class="btn btn-primary"><i class="icon-small icon-add"></i>add company</a>

            <form class="inline-search" id="stream-search">
                <input type="text" value="" placeholder="Search contacts" />
            </form>

            <div class="right">
                Sort by date: 
                        <form class="inline-select">
                            <select class="sorting">
                                @if (ViewBag.order == "desc")
                                {
                                    <option value="asc">ascending</option>
                                    <option value="desc" selected>descending</option>
                                }
                                else
                                {
                                    <option value="asc" selected>ascending</option>
                                    <option value="desc">descending</option>

                                }
                            </select>
                        </form>
            </div>
        </div>
        <div class="stream-content">
            @{Html.RenderAction("RenderItems", "Contacts", new { area = "Contact", page = 1 });}
        </div>
        <!-- /stream-content -->
    </div>
    <!-- /stream -->
</div>
<!-- /content-right -->
<div class="width-side right no-mobile">
    <div class="box no-mobile dash-tasks">
        <h4>Tasks</h4>
        @{Html.RenderAction("DisplaySideTasks", "Task", new { });}
    </div>
    <div class="box no-mobile dash-tasks">
        <h4>Filtering</h4>
        <p class="lighter">n/a</p>
    </div>
</div>
<!-- /width-side -->
<!-- /content-left -->

