@model CrumbCRM.Quote
@{
    ViewBag.Title = "Add a Quote";
}

<h1>Add quote<a href="/quote" class="btn-back">Back</a></h1>
<div class="width-wide left">
@using (Html.BeginForm("Add", "Quote", FormMethod.Post, new { @class = "box"}))
{
    if(Model != null){
        @Html.Hidden("QuoteID", Model.ID)
    }
    <div class="form-row">
        <label>Quote Title</label>
        @Html.TextBoxFor(j => j.Title, null, new { @class = "input-large", placeholder = "Quote Title" })
    </div>
    <div class="actions">
        <input type="submit" value="Add Quote" class="btn btn-primary"  />
    </div>

}
		</div> <!-- /content-right -->


<div class="width-side right no-mobile">
    <div class="box no-mobile dash-tasks">
        <h4>Tasks</h4>
        @{Html.RenderAction("DisplaySideTasks", "Task", new { });}
    </div>
</div>
<!-- /width-side -->